mixin wholesaler(data)
	svg(style="display: none;")
		symbol(id="icon-percent" viewBox="0 0 1024 1024")
			path(class="path1" d="M490.239 12.946c-37.719 23.212-63.833 29.015-111.707 21.761-111.707-14.507-197.301 40.621-224.864 146.524-10.155 42.072-29.015 72.537-56.579 92.847-49.325 34.818-85.594 98.65-85.594 146.524 0 18.86 15.958 59.48 34.818 89.946 29.015 47.875 31.916 65.283 20.311 105.904-7.254 27.564-8.704 68.185-4.353 91.397 11.606 55.128 91.397 124.763 155.229 136.369 31.916 5.803 60.932 24.662 81.241 52.226 65.283 87.044 182.793 110.256 250.977 49.325 21.761-18.86 42.072-21.761 100.101-14.507 100.101 13.057 168.285-18.86 204.554-98.65 14.507-33.367 27.564-66.734 27.564-75.439s29.015-46.423 65.283-81.241c75.439-75.439 82.693-123.312 34.818-216.16-21.761-44.973-27.564-72.537-20.311-121.862 14.507-88.495-21.761-156.68-100.101-195.849-33.367-15.958-71.086-29.015-84.143-29.015s-33.367-15.958-46.423-36.268c-31.916-47.875-107.355-94.298-153.778-94.298-20.311 0-59.48 14.507-87.044 30.465zM683.187 99.99c30.465 30.465 60.932 56.579 68.185 56.579s40.621 10.155 73.987 24.662c73.987 29.015 101.551 84.143 84.143 165.384-11.606 47.875-7.254 68.185 24.662 129.116 44.973 87.044 36.268 129.116-43.522 191.498-33.367 26.114-53.677 59.48-65.283 104.454-21.761 89.946-65.283 116.059-165.384 105.904-63.833-5.803-85.594-1.451-133.468 27.564-31.916 18.86-71.086 34.818-85.594 34.818-15.958 0-56.579-29.015-89.946-63.833-40.621-42.072-82.693-71.086-121.862-81.241-95.748-26.114-121.862-60.932-111.707-156.68 7.254-68.185 2.901-89.946-27.564-142.172-44.973-76.889-36.268-120.411 37.719-184.244 36.268-30.465 60.932-66.734 71.086-105.904 8.704-31.916 31.916-73.987 52.226-92.847 30.465-29.015 44.973-31.916 111.707-24.662 63.833 5.803 88.495 1.451 142.172-27.564 78.34-42.072 105.904-36.268 178.441 39.169z")
			path(class="path2" d="M310.348 275.53c-34.818 49.325-29.015 105.904 14.507 140.722 21.761 17.408 50.776 30.465 66.734 30.465 39.169 0 98.65-65.283 98.65-108.805 0-85.594-132.017-130.566-179.891-62.382zM432.21 308.897c20.311 24.662 7.254 73.987-23.212 85.594-31.916 11.606-78.34-15.958-78.34-46.423 0-55.128 66.734-81.241 101.551-39.169z")
			path(class="path3" d="M500.394 472.831c-174.088 174.088-208.906 220.512-165.384 220.512 23.212 0 387.347-364.135 387.347-388.797 0-42.072-47.875-5.803-221.963 168.285z")
			path(class="path4" d="M601.946 562.776c-29.015 23.212-39.169 44.973-39.169 78.34 0 92.847 107.355 133.468 174.088 66.734 85.594-85.594-39.169-220.512-134.919-145.073zM706.399 612.101c26.114 31.916-4.353 81.241-49.325 81.241-26.114 0-37.719-10.155-44.973-34.818-4.353-20.311-4.353-43.522 1.451-50.776 13.057-23.212 73.987-18.86 92.847 4.353z")
		symbol(id="icon-eiy" viewBox="0 0 1447 1024")
			path(class="path1" d="M561.571 45.894c-45.894 14.341-124.773 53.064-174.97 86.050-98.958 64.538-351.373 316.953-351.373 351.373 0 35.854 248.112 282.533 354.241 351.373 256.717 169.232 510.566 146.286 768.718-67.407 86.050-71.709 253.849-259.585 253.849-283.966 0-20.079-153.457-196.482-229.467-262.454-206.521-180.706-418.778-240.941-620.997-174.97zM964.575 139.114c86.050 43.025 139.115 84.617 243.81 187.877 71.709 73.143 131.944 143.417 131.944 156.325s-60.235 83.182-131.944 156.325c-344.202 342.768-639.642 335.597-989.58-22.946-61.669-61.669-111.866-121.904-111.866-133.378s50.196-71.709 111.866-133.378c269.625-276.795 487.619-337.031 745.77-210.824z")
			path(class="path2" d="M611.768 248.112c-93.222 45.894-139.115 124.773-139.115 235.205 0 111.866 47.328 189.311 139.115 235.205 123.339 58.801 265.323 21.513 338.465-88.919 31.551-47.328 38.723-74.577 38.723-146.286 0-74.577-7.171-97.524-41.591-147.72-76.012-110.432-215.126-146.286-335.597-87.484zM839.801 308.348c127.642 84.617 127.642 265.323 0 349.938-130.509 87.484-316.953-15.776-316.953-174.97 0-108.997 100.392-207.955 207.955-207.955 38.723 0 77.445 11.474 108.997 32.986z")
			path(class="path3" d="M614.635 352.807c-15.776 40.157 1.434 73.143 35.854 73.143 45.894 0 70.274-40.157 45.894-70.274-24.381-28.684-71.709-30.118-81.748-2.869z")
		symbol(id="icon-basket" viewBox="0 0 1218 1024")
			path(class="path1" d="M9.76 4.373c-24.391 24.391-6.097 35.061 62.5 35.061 41.159 0 83.842 9.147 97.562 18.292 13.72 10.67 60.976 144.818 106.709 300.308 57.928 201.221 91.464 289.637 117.379 315.552 35.061 36.586 41.159 36.586 309.454 36.586 211.892 0 272.868-4.573 268.296-19.817-4.573-13.72-79.269-19.817-269.82-25.915-240.856-7.622-265.246-10.67-285.064-38.111-22.866-30.488-19.817-30.488 272.868-35.061 257.624-3.049 298.784-7.622 320.126-30.488 32.012-35.061 193.6-394.821 193.6-429.882 0-57.928-27.439-60.976-451.224-57.928-547.261 6.097-551.835 32.012-6.097 42.683 385.674 7.622 403.968 9.147 399.394 36.586-3.049 15.244-44.208 108.233-91.464 205.795l-86.891 176.831-291.162 4.573-291.162 3.049-73.172-259.149c-51.83-184.453-80.794-265.246-100.611-274.393-30.488-16.769-185.978-21.342-201.221-4.573z")
			path(class="path2" d="M381.715 780.296c-42.683 53.354-39.634 105.184 6.097 150.917 73.172 74.695 190.551 24.391 190.551-80.794 0-102.136-134.148-149.392-196.648-70.123zM514.338 804.685c41.159 41.159 6.097 118.904-56.403 118.904-21.342 0-62.5-44.208-62.5-68.598 0-53.354 80.794-88.415 118.904-50.306z")
			path(class="path3" d="M857.33 780.296c-30.488 30.488-36.586 47.256-28.964 86.891 22.866 115.855 163.112 141.77 216.465 39.634 62.5-121.953-88.415-224.087-187.501-126.526zM986.904 804.685c24.391 24.391 22.866 80.794-4.573 103.659-28.964 24.391-68.598 15.244-92.989-22.866-39.634-59.452 47.256-131.098 97.562-80.794z")
		symbol(id="icon-medal" viewBox="0 0 811 1024")
			path(class="path1" d="M251.058 27.496c-26.752 50.532-38.642 57.962-99.576 68.366l-68.366 10.403 10.403 66.879c8.917 62.421 5.944 71.338-40.127 118.897l-49.045 50.532 47.559 44.586c43.1 38.642 49.045 50.532 44.586 112.952l-2.973 71.338 56.476 4.459c31.21 2.973 59.449 13.376 63.906 23.779s-8.917 80.255-29.724 154.565c-40.127 138.217-47.559 196.18-26.752 196.18 5.944 0 34.183-5.944 62.421-14.862 44.586-13.376 54.989-10.403 90.659 23.779 22.293 20.807 47.559 34.183 54.989 29.724 8.917-4.459 19.32-41.613 25.266-80.255 14.862-111.465 29.724-120.382 59.449-34.183 13.376 41.613 29.724 75.796 35.669 75.796s26.752-17.834 47.559-38.642c31.21-32.696 43.1-37.155 98.089-28.238 78.769 11.89 80.255 7.431 13.376-157.538-28.238-68.366-47.559-127.814-44.586-130.787s31.21-10.403 60.935-14.862c56.476-10.403 56.476-10.403 56.476-78.769 0-56.476 8.917-77.283 43.1-114.438l44.586-46.072-47.559-49.045c-43.1-44.586-47.559-54.989-38.642-117.411l8.917-66.879-68.366-10.403c-60.935-8.917-72.825-17.834-98.089-69.852-16.349-31.21-35.669-57.962-41.613-57.962s-32.696 13.376-59.449 29.724l-49.045 29.724-57.962-29.724c-32.696-16.349-62.421-29.724-65.393-29.724-4.459 0-22.293 25.266-37.155 57.962zM361.037 54.248c50.532 23.779 54.989 23.779 98.089-1.486 25.266-14.862 47.559-23.779 49.045-20.807 2.973 1.486 16.349 25.266 28.238 50.532 19.32 37.155 37.155 49.045 83.228 56.476l57.962 8.917-7.431 60.935c-7.431 53.503-4.459 65.393 34.183 95.118l43.1 34.183-41.613 34.183c-37.155 28.238-41.613 41.613-37.155 96.604 4.459 62.421 4.459 62.421-52.017 71.338-44.586 7.431-60.935 19.32-80.255 60.935l-23.779 50.532-53.503-28.238c-52.017-25.266-54.989-25.266-107.007 1.486l-54.989 26.752-17.834-44.586c-20.807-50.532-54.989-72.825-108.494-72.825-34.183 0-37.155-4.459-29.724-60.935 7.431-50.532 2.973-65.393-31.21-101.062l-38.642-40.127 43.1-41.613c37.155-35.669 41.613-47.559 31.21-90.659-11.89-54.989 0-66.879 68.366-66.879 26.752 0 43.1-13.376 60.935-52.017 13.376-28.238 26.752-52.017 29.724-52.017 1.486 0 26.752 11.89 56.476 25.266zM375.899 723.042c-35.669 193.207-38.642 202.124-66.879 175.373-19.32-17.834-40.127-22.293-72.825-14.862-44.586 8.917-44.586 8.917-31.21-32.696 7.431-22.293 20.807-69.852 29.724-105.521 11.89-47.559 20.807-60.935 34.183-50.532 11.89 10.403 29.724 8.917 54.989-4.459 56.476-31.21 63.906-26.752 52.017 32.696zM540.869 690.345c14.862-37.155 29.724-25.266 59.449 47.559 16.349 40.127 31.21 77.283 34.183 84.714 2.973 5.944-10.403 7.431-28.238 1.486-22.293-7.431-43.1 0-68.366 23.779-26.752 25.266-37.155 28.238-41.613 11.89-4.459-11.89-20.807-54.989-35.669-98.089-16.349-43.1-25.266-80.255-22.293-84.714 4.459-4.459 28.238 2.973 50.532 14.862 38.642 19.32 44.586 19.32 52.017-1.486z")
			path(class="path2" d="M313.478 190.979c-57.962 37.155-78.769 72.825-78.769 142.677 0 199.152 266.032 251.169 341.828 68.366 62.421-150.107-123.355-298.728-263.059-211.042zM491.824 237.051c80.255 63.906 57.962 190.234-38.642 221.445-90.659 29.724-173.887-29.724-173.887-124.841 1.486-105.521 126.328-163.483 212.527-96.604z")
		symbol(id="icon-trempel" viewBox="0 0 1382 1024")
			path(class="path1" d="M599.822 27.331c-52.621 33.234-78.932 90.010-72.008 153.709 6.924 69.238 44.313 63.699 48.467-6.924 4.154-73.393 48.467-119.090 114.936-119.090 88.625 0 142.631 95.549 99.703 175.866-8.309 15.232-41.543 38.774-72.008 51.236-52.621 20.772-55.391 24.926-55.391 81.701v59.545l-285.263 171.711c-157.864 95.549-303.265 189.713-325.421 210.485-51.236 45.697-52.621 96.934-4.154 134.323 36.004 29.080 51.236 29.080 642.533 29.080s606.529 0 642.533-29.080c48.467-37.389 47.082-88.625-4.154-134.323-22.156-20.772-167.557-114.936-325.421-210.485-278.339-167.557-285.263-173.096-285.263-217.409 0-33.234 6.924-45.697 22.156-45.697 12.463 0 42.928-20.772 69.238-47.082 38.774-38.774 47.082-56.776 47.082-108.012-1.385-72.008-22.156-114.936-77.547-150.94-51.236-33.234-126.014-33.234-180.020 1.385zM1002.79 656.016c257.567 156.479 304.649 191.098 304.649 218.794v31.85h-1232.445v-31.85c0-27.695 47.082-62.315 304.649-218.794 167.557-101.088 307.419-185.559 311.573-185.559s144.016 84.471 311.573 185.559z")
	.delivery
		.row
			.col-lg-12
				.heading-wrapper
					h2.heading-h2
						|Доставка
		.delivery-list
			.row
				.col-lg-4
					.delivery-item.bordered-box
						h3.delivery-h3
							svg(class="icon icon-percent")
								use(xlink:href="#icon-percent")
						p
							|Курьер
						p
							|Собственная курьерская служба в Харькове.
							|При вокупке 2 000 тыс. гривен и выше,
							|доставка курьером по городу бесплатна. 
							|Доставка курьером по городу составляет 25 грн.
				.col-lg-4
					.delivery-item.bordered-box
						h3.delivery-h3
							svg(class="icon icon-eiy")
								use(xlink:href="#icon-eiy")
						p
							|Нова пошта
						p
							|Доставка на склад Новой Почты 
							|оплачивается покупателем, за исключением 
							|случая, когда покупатель вносит 100% 
							|предоплату на карту Приватбанка.
						p
							|Курьерская доставка Новой Почты всегда 
							|оплачивается покупателем.
				.col-lg-4
					.delivery-item.bordered-box
						h3.delivery-h3
							svg(class="icon icon-basket")
								use(xlink:href="#icon-basket")
						p
							|Самовывоз
						p
							|Собственная курьерская служба в Харькове.
							|При вокупке 2 000 тыс. гривен и выше,
							|доставка курьером по городу бесплатна. 
							|Доставка курьером по городу составляет 25 грн.
		.row
			.col-lg-12
				.heading-wrapper
					h2.heading-h2
						|Оплата
		.row
			.col-lg-3.col-lg-offset-2
				.delivery-item.bordered-box
					h3.delivery-h3
						svg(class="icon icon-medal")
							use(xlink:href="#icon-medal")
					p
						|Оплата банковской картой
					p
						|Собственная курьерская служба в Харькове.
						|При вокупке 2 000 тыс. гривен и выше,
						|доставка курьером по городу бесплатна. 
						|Доставка курьером по городу составляет 25 грн.
			.col-lg-3.col-lg-offset-2
				.delivery-item.bordered-box
					h3.delivery-h3
						svg(class="icon icon-trempel")
							use(xlink:href="#icon-trempel")
					p
						|Нова пошта
					p
						|Собственная курьерская служба в Харькове.
						|При вокупке 2 000 тыс. гривен и выше,
						|доставка курьером по городу бесплатна. 
						|Доставка курьером по городу составляет 25 грн.
