mixin left-menu(data)
	ul.left-menu
		li.left-menu-item
			a.left-menu-link(href="#")
				|Детям
		li.left-menu-item--novelty
			a(href="#").left-menu-link--novelty
				|Новинки
		li.left-menu-item--novelty
			a(href="#").left-menu-link--novelty
				|Популярное
		li.left-menu-item
			a.left-menu-link(href="#")
				|Верхняя одежда
			ul.left-menu--child
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Куртки
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Пальто
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Парки
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Плащи
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Френчи
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Пуховики
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Бушлаты
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Жилеты
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Накидки
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Бомберы
		li.left-menu-item
			a.left-menu-link(href="#")
				|Обувь
			ul.left-menu--child
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Сапоги
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Ботинки
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Полуботинки
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Кроссовки
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Кеды
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Балетки
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Мокасины
				li.left-menu-item--child
					a(href="#").left-menu-link.left-menu-link--child Туфли
