doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/head/head
include ../modules/header/header
include ../modules/navbar/navbar
include ../modules/breadcrumbs/breadcrumbs
include ../modules/footer/footer
include ../modules/modals/modals
head
	+head(head.defaults)
body.page
	.wrapper
		.container-fluid
			+header()
			+navbar()
			+breadcrumbs()
			.heading-wrapper
				h2.heading-h2
					|О нас
			.about-wr
				section.about
					p
						|Наш интернет магазин предлагает Вам широкий ассортимент одежды и обуви для всей семьи. Много красивых и недорогих вещей украинского и турецкого производства хорошего качества и по доступной цене Вы найдете у нас на витрине.  Мы являемся прямыми поставщиками нескольких производителей женской одежды нашего города, подбираем только качественные и популярные модели. Также у нас много стоковой женской одежды повседневного стиля по невысокой цене. Вы найдете у нас популярные молодёжные парки и ризиновые сапоги украинского производства. Шикарные мужские пуховики отличного качества. А ещё ботинки, туфли, кардиганы, польта и многое другое. У нас недорогая и качественная одежда и обувь, которую вы можете купить оптом или мелким оптом, а если купите много то получите дополнительную скидку.  Почему покупать именно у нас? Ответ очевиден! Покупая обувь и одежду оптом (мелким оптом)  в нашем интернет магазине, вы покупаете качественные вещи по невысокой цене от прямого поставщика и производителя. И не важно это сапоги оптом, туфли оптом, плащи оптом, пуховики оптом — в любом случае Вы останетесь довольны. Наша витрина обновляется примерно каждые 2 недели. Мы привозим одежду из Турции и предлагаем одежду украинского производства от производителя и стараемся чтобы она соответствовала модным тенденциям, так что если Вы хотите купить недорогую и модную одежду в Украине, тогда наш магазин это то что Вам нужно.
					p
						|Производитель высококачественной женской одежды использует ткани только известных фабрик Франции DUTEL, Италии BELLANDI и Турции, в основном это коллекции prêt-a- porte.ТМ «ODDI» предлагает посетить интернет-магазин одежды. Высокое качество нашей продукции уже оценили множество требовательных клиентов от бутиков до магазинов женской одежды.
					p
						|Наши профессиональные дизайнеры вкладывают все свое вдохновение в создание модных шедевров. А мастера нашей компании воплощают идеи, используя наиболее качественное оборудование и самые современные технологии. Мы работаем на лучшем оборудовании, на котором создаются коллекции ведущих домов моды Италии и Франции. Бренды PEGASUS , KANSAI, а также японское оборудование JUKI и немецкое MAYER известны во всем мире.
					p
						|Интернет магазин женской одежды бренда «ODDI» гарантирует высокое качество продукции в каждой мелочи, начиная от качества ткани и мастерства пошива, заканчивая фурнитурой. Мы воплощаем самые актуальные тенденции в мире женской моды, поэтому не просто создаем женскую одежду – мы выполняем желания женщин, жаждущих выглядеть на все 100% роскошно, гармонично и сексуально!  В эксклюзивной и модной одежде.
					p
						|Существует давно укоренившийся стереотип: приобретение женской одежды оптом означает покупку штампованных, некачественных вещей «с конвейера». ТМ «ODDI» давно развеяла этот миф. Мы уже многие годы радуем изысканными моделями даже самых искушенных модниц. Наш оптовый ассортимент включает изысканные и изящные вечерние и коктейльные платья, деловые костюмы и наряды для торжественных мероприятий – и все это самого высокого качества и соответствует всем последним тенденциям моды.
					p
						|Интернет магазин одежды «ODDI» гарантирует: женщина всегда возвращается туда, где купила качественную, идеально сшитую, модную вещь. Эта закономерность позволит Вам повысить продажи Вашей компании за счет роста круга активных покупательниц. Заказывая одежду оптом, Вы развиваете свой бизнес. Чтобы купить продукцию бренда «ODDI», свяжитесь с нами по контактам, указанным на сайте.
					p
						|Интернет-магазин женской одежды «ODDI» осуществляет оптовую продажу высококачественной и модной женской одежды во всех регионах Украины. Условия сотрудничества мы всегда оговариваем индивидуально с каждым клиентом. Одежда, выпущенная под брендом «ODDI» найдет своих поклонниц, как в Киеве, Донецке или Харькове, так и в Одессе и Запорожье. Мы не ограничиваем свою продукцию размерным рядом – у нас есть коллекции, как для миниатюрных модниц, так и одежда для женщин с особенностями фигуры. А это существенно расширяет круг потенциальных клиенток!
					p
						|Интернет-магазин женской одежды «ODDI» – надежный партнер и популярная торговая марка. Если Вы до сих пор находитесь в поиске оптового поставщика женской одежды – взгляните на наши коллекции и сделайте правильный выбор!
		+footer()
		+modals()
	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
|</html>