doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/head/head
include ../modules/header/header
include ../modules/navbar/navbar
include ../modules/breadcrumbs/breadcrumbs
include ../modules/footer/footer
include ../modules/modals/modals

head
	+head(head.defaults)
body.page
	.wrapper
		.container-fluid
			+header()
			+navbar()
			+breadcrumbs()
			svg(style="display: none;")
				symbol(id="icon-contact-1" viewBox="0 0 1178 1024")
					path(class="path1" d="M24.024 6.167c-21.555 22.992-24.429 79.036-24.429 481.404 0 393.745 2.874 456.974 22.992 475.656 33.052 34.489 581.996 34.489 615.047 0 20.118-18.681 22.992-83.348 22.992-479.967s-2.874-461.286-22.992-479.967c-18.681-20.118-67.54-22.992-306.087-22.992-257.228 0-285.968 2.874-307.524 25.866zM594.524 46.403c20.118 18.681 22.992 79.036 22.992 436.856s-2.874 418.175-22.992 436.856c-33.052 34.489-495.774 34.489-528.826 0-20.118-18.681-22.992-77.599-22.992-419.612 0-218.428 4.311-412.427 8.622-429.671s18.681-34.489 33.052-37.363c12.933-4.311 127.895-7.185 255.791-8.622 193.999-1.437 235.672 2.874 254.354 21.555z")
					path(class="path2" d="M251.074 66.522c-18.681 30.178 15.807 44.548 94.844 40.237 57.481-2.874 77.599-10.059 77.599-25.866 0-27.304-156.636-40.237-172.443-14.37z")
					path(class="path3" d="M71.446 447.334v323.331h517.33v-646.662h-517.33v323.331zM545.665 447.334v265.85h-416.738v-531.7h416.738v265.85z")
					path(class="path4" d="M307.118 819.524c-28.741 21.555-20.118 61.792 17.244 76.162 28.741 11.496 67.54-27.304 56.044-56.044-12.933-33.052-43.111-41.674-73.288-20.118z")
					path(class="path5" d="M689.367 203.039c0 18.681 33.052 21.555 214.117 21.555 229.924 0 231.361 0 231.361 79.036 0 28.741-8.622 35.926-60.355 43.111-34.489 5.748-135.081 7.185-224.176 4.311-145.14-4.311-160.947-1.437-160.947 20.118 0 22.992 22.992 25.866 219.865 28.741l218.428 4.311 4.311 136.518c7.185 216.991 25.866 201.184-227.050 201.184-182.502 0-215.554 2.874-215.554 21.555s34.489 21.555 229.924 21.555c211.243 0 229.924-1.437 244.295-27.304 18.681-37.363 18.681-511.582 0-548.944-14.37-25.866-33.052-27.304-244.295-27.304-195.436 0-229.924 2.874-229.924 21.555z")
					path(class="path6" d="M689.367 569.481c0 25.866 7.185 30.178 47.422 25.866 28.741-2.874 45.985-11.496 45.985-25.866s-17.244-22.992-45.985-25.866c-40.237-4.311-47.422 0-47.422 25.866z")
					path(class="path7" d="M854.625 555.111c-18.681 30.178 15.807 44.548 94.844 40.237 57.481-2.874 77.599-10.059 77.599-25.866 0-27.304-156.636-40.237-172.443-14.37z")
				symbol(id="icon-contact-2" viewBox="0 0 1725 1024")
					path(class="path1" d="M864.224 30.851c-170.534 21.316-214.69 30.453-231.438 54.815-12.181 15.226-21.316 35.020-21.316 42.634s-24.362 167.488-53.292 356.294c-28.93 188.806-53.292 362.384-53.292 386.747 0 89.835 0 89.835 546.623 89.835 382.179 0 503.989-4.568 525.305-19.795 36.543-25.885 155.307-791.765 132.468-843.534-18.272-41.111-27.407-42.634-283.209-73.086-245.142-28.93-236.007-28.93-236.007 3.045-1.523 25.885-1.523 25.885-16.749 0-18.272-30.453-28.93-30.453-309.093 3.045zM967.762 195.294c-10.658 48.724-19.795 108.107-21.316 132.468 0 38.065 4.568 41.111 35.020 31.976 18.272-4.568 44.156-9.135 56.337-7.613 12.181 0 74.608 3.045 137.037 4.568l114.196 3.045 28.93-126.377 30.453-124.856h156.83c152.262 0 156.83 1.523 155.307 33.497 0 19.795-25.885 196.418-56.337 392.837l-56.337 357.817-479.627 4.568c-263.414 1.523-487.24 0-496.375-3.045-10.658-4.568 1.523-123.333 41.111-377.61 31.976-202.509 59.383-379.133 59.383-389.791 0-13.704 42.634-18.272 158.353-18.272h158.353l-21.316 86.789zM1281.422 122.209c0 7.613-7.613 48.724-16.749 89.835l-18.272 76.131-80.699 9.135c-83.745 9.135-159.876-12.181-150.74-42.634 3.045-9.135 13.704-45.679 22.839-82.222l16.749-63.95h112.674c62.427 0 114.196 6.091 114.196 13.704z")
					path(class="path2" d="M745.459 505.909c-47.201 35.020-56.337 74.608-18.272 74.608 19.795 0 22.839 13.704 18.272 71.564-3.045 57.86 0 73.086 21.316 77.654 19.795 3.045 27.407-10.658 35.020-65.473 9.135-57.86 15.226-68.518 38.065-60.905 42.634 13.704 45.679-28.93 4.568-80.699-44.156-56.337-45.679-57.86-98.97-16.749z")
					path(class="path3" d="M951.013 505.909c-54.815 35.020-66.996 74.608-21.316 74.608 24.362 0 25.885 7.613 16.749 63.95-13.704 71.564-9.135 88.312 21.316 88.312 21.316 0 39.588-45.679 39.588-102.016 0-25.885 7.613-33.497 31.976-30.453 50.246 4.568 50.246-27.407 3.045-79.176l-42.634-47.201-48.724 31.976z")
					path(class="path4" d="M690.644 789.118c4.568 24.362 25.885 27.407 164.444 31.976 158.353 3.045 211.645-7.613 191.85-41.111-7.613-10.658-74.608-16.749-185.76-16.749-159.876 0-175.102 3.045-170.534 25.885z")
					path(class="path5" d="M-12.808 161.797c0 19.795 41.111 22.839 274.072 22.839s274.072-3.045 274.072-22.839c0-19.795-41.111-22.839-274.072-22.839s-274.072 3.045-274.072 22.839z")
					path(class="path6" d="M81.594 362.783c4.568 24.362 27.407 27.407 210.122 27.407s205.554-3.045 210.122-27.407c4.568-24.362-13.704-25.885-210.122-25.885s-214.69 1.523-210.122 25.885z")
					path(class="path7" d="M165.339 545.497c-6.091 4.568-3.045 18.272 6.091 30.453 12.181 13.704 56.337 19.795 141.604 19.795 126.377 0 173.579-13.704 155.307-44.156-12.181-18.272-286.253-24.362-303.002-6.091z")
				symbol(id="icon-contact-3" viewBox="0 0 1024 1024")
					path(class="path1" d="M70.785 61.75c-58.728 76.799-70.776 103.904-70.776 155.104 1.506 34.635 10.541 78.305 22.587 99.386 16.564 28.612 21.081 105.409 22.587 334.3 0 262.019-3.012 298.159-24.094 298.159-13.552 0-21.081 9.035-18.070 18.070 10.541 28.612 1007.417 28.612 1017.959 0 3.012-9.035-4.517-18.070-18.070-18.070-21.081 0-24.094-36.141-24.094-298.159 1.506-236.419 6.023-302.677 22.587-325.264 12.047-16.564 22.587-61.74 22.587-99.386 0-57.222-12.047-88.845-60.234-162.633l-60.234-93.363h-761.963l-70.776 91.857zM926.111 97.889c30.117 46.681 52.705 100.892 52.705 127.998 0 43.67-43.67 105.409-75.293 105.409-18.070 0-60.234-42.164-84.328-84.328-15.058-25.6-18.070-25.6-40.658 18.070-42.164 79.81-99.386 81.316-140.044 3.012-22.587-42.164-51.199-45.176-51.199-4.517 0 12.047-16.564 33.129-36.141 45.176-46.681 30.117-94.869 9.035-108.421-45.176-12.047-48.187-33.129-48.187-51.199-1.506-30.117 81.316-124.986 81.316-144.562 1.506-12.047-48.187-33.129-48.187-51.199-1.506-28.612 75.293-109.928 84.328-137.033 13.552-22.587-61.74-16.564-85.834 48.187-174.679l60.234-85.834h706.246l52.705 82.822zM320.757 376.473c19.577 0 48.187-9.035 63.245-21.081 25.6-18.070 33.129-18.070 58.728 0 39.152 27.106 100.892 27.106 137.033 0 25.6-18.070 33.129-18.070 58.728 0 16.564 12.047 48.187 21.081 69.27 21.081 22.587 0 52.705-9.035 67.764-21.081 25.6-18.070 33.129-18.070 58.728 0 16.564 12.047 42.164 21.081 57.222 21.081 25.6 0 27.106 22.587 27.106 286.113v286.113h-496.932l-3.012-252.984-4.517-251.478-263.525-9.035-3.012 251.478c-3.012 185.22-9.035 252.984-22.587 259.007-15.058 4.517-19.577-58.728-19.577-281.594 0-268.042 1.506-287.619 27.106-287.619 15.058 0 40.658-9.035 57.222-21.081 24.094-19.577 33.129-19.577 61.74 0 18.070 12.047 49.693 21.081 69.27 21.081zM361.415 715.291v233.407h-165.644v-466.815h165.644v233.407z")
					path(class="path2" d="M128.007 152.101c-24.094 37.647 31.623 43.67 400.557 40.658 328.277-4.517 382.487-7.529 382.487-27.106s-54.211-22.587-387.005-27.106c-269.548-3.012-390.017 1.506-396.040 13.552z")
					path(class="path3" d="M469.836 665.598l4.517 230.396h391.522l4.517-230.396 4.517-228.89h-409.592l4.517 228.89zM828.229 662.585v180.702h-316.229v-361.405h316.229v180.702z")
					path(class="path4" d="M286.122 662.585c0 19.577 10.541 30.117 30.117 30.117s30.117-10.541 30.117-30.117c0-19.577-10.541-30.117-30.117-30.117s-30.117 10.541-30.117 30.117z")
				symbol(id="icon-map" viewBox="0 0 683 1024")
					path(class="path1" d="M222.422 18.519c-74.319 23.782-187.285 138.234-206.608 211.067-26.755 98.102-19.323 147.153 43.106 269.036 65.402 133.775 251.2 384.974 282.414 384.974s217.012-251.2 282.414-384.974c87.696-172.421 75.806-280.927-43.106-395.379-99.588-96.615-225.931-126.343-358.22-84.724zM481.054 80.947c72.833 35.673 138.234 124.857 151.612 209.581 8.918 57.969 2.973 81.751-43.106 173.908-53.51 109.992-224.445 352.274-248.227 352.274-22.296 0-181.339-224.445-242.281-340.383-50.537-98.102-56.483-121.884-49.051-178.367 28.241-202.149 239.308-307.682 431.053-217.012z")
					path(class="path2" d="M278.905 186.481c-111.479 59.455-86.21 219.986 37.159 251.2 74.319 19.323 173.908-57.969 173.908-133.775 0-44.592-35.673-96.615-81.751-118.911-59.455-26.755-77.292-26.755-129.316 1.486zM420.111 254.855c13.378 16.351 25.269 38.647 25.269 49.051 0 28.241-47.565 77.292-83.237 87.696-41.619 11.891-109.992-41.619-109.992-87.696s68.374-99.588 109.992-87.696c17.837 4.459 43.106 22.296 57.969 38.647z")
					path(class="path3" d="M103.511 795.9c-153.098 66.888-130.802 157.557 52.024 206.608 222.958 57.969 527.668-7.432 527.668-112.965 0-53.51-162.016-139.72-197.69-104.047-19.323 19.323-20.81 17.837 69.861 53.51 40.133 16.351 75.806 38.647 80.265 49.051 2.973 10.404-23.782 32.7-66.888 52.024-102.561 46.078-350.788 46.078-454.835-1.486-43.106-19.323-69.861-40.133-66.888-50.537 4.459-10.404 41.619-32.7 83.237-49.051 43.106-16.351 77.292-38.647 77.292-49.051 0-23.782-40.133-22.296-104.047 5.945z")
			.heading-wrapper
				h2.heading-h2
					|Контакты
			.contact
				.contact-wr
					.row
						.col-lg-4.col-xs-12.col-sm-4
							.contact-item.bordered-box
								h3.heading-icon
									svg(class="icon icon-contact-1")
										use(xlink:href="#icon-contact-1")
								p
									| Номера телефонов:
								p
									span.contact-span
										|+38 (098) 73-07-330
									span.contact-span
										|+38 (095) 63-54-949
									span.contact-span
										|+38 (093) 654-69-99
									span.contact-span
										|+7 (499) 677-57-87
						.col-lg-4.col-xs-12.col-sm-4
							.contact-item.bordered-box
								h3.heading-icon
									svg(class="icon icon-contact-2")
										use(xlink:href="#icon-contact-2")
								p
									|E-mail:
								p
									a(href="mailto:mag@odegda-optom.com").contact-link mag@odegda-optom.com
									a(href="obuvachka@gmail.com").contact-link obuvachka@gmail.com
						.col-lg-4.col-xs-12.col-sm-4
							.contact-item.bordered-box
								h3.heading-icon
									svg(class="icon icon-contact-3")
										use(xlink:href="#icon-contact-3")
								p
									|График работы
								span.contact-span.contact-span--small
									|пн.–пт.
								span.contact-span.contact-span--small
									|с 9:00 до 18:00
								span.contact-span.contact-span--small
									|сб.
								span.contact-span.contact-span--small
									|с 9:00 до 17:00
								span.contact-span.contact-span--small
									|вс.
								span.contact-span.contact-span--small
									|выходной
				.heading-wrapper
					h2.heading-h2.heading-icon
						svg(class="icon icon-map")
							use(xlink:href="#icon-map")
				.contact-map
					div(class="embed-responsive embed-responsive-16by9")
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164153.5222970856!2d36.145742038497254!3d49.99450702572823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a09f63ab0f8b%3A0x2d4c18681aa4be0a!2sKharkiv%2C+Kharkiv+Oblast!5e0!3m2!1sen!2sua!4v1450430400840" class="embed-responsive-item" height="250" frameborder="0" style="border:0" allowfullscreen)
		+footer()
		+modals()

	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
|</html>