doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/head/head
include ../modules/header/header
include ../modules/navbar/navbar
include ../modules/breadcrumbs/breadcrumbs
include ../modules/left-menu/left-menu
include ../modules/slider-main/slider-main
include ../modules/popular/popular
include ../modules/novelty/novelty
include ../modules/footer/footer
include ../modules/modals/modals
head
	+head(head.defaults)
body.page
	.wrapper
		.container-fluid
			+header()
			+navbar()
			+breadcrumbs()
			.row
				.col-lg-2
					+left-menu()
				.col-lg-10
					.slider
						.owl-carousel
							div
								div.photo
									.photo-big.photo-big--one
										img(src="static/images/content/main-slider-1.jpg", alt="")
										.photo-big-text
											h2.slider-heading
												|новая коллекция
											p
												|для детей
												br 
												|осень-зима 2015
							div
								div.photo
									.photo-big.photo-big--one
										img(src="static/images/content/main-slider-1.jpg", alt="")
							div
								div.photo
									.photo-big.photo-big--one
										img(src="static/images/content/main-slider-1.jpg", alt="")
			+popular()
			//- +novelty()
		+footer()
		+modals()

	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
|</html>