doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/head/head
include ../modules/header/header
include ../modules/navbar/navbar
include ../modules/slider-main/slider-main
include ../modules/breadcrumbs/breadcrumbs
include ../modules/shares/shares
include ../modules/popular/popular
include ../modules/novelty/novelty
include ../modules/footer/footer
include ../modules/modals/modals

head
	+head(head.defaults)
body.page
	.wrapper
		.container-fluid
			+header()
			+navbar()
			+breadcrumbs()
			+slider-main()
			.shares-text
				.row
					.col-md-6
						.shares-text--inner
							span.shares-percent.shares-span
								|25%
							span.shares-span
								|на летнюю коллецию обуви
					.col-md-6
						.shares-text--inner
							span.shares-span
								|на летнюю коллецию обуви
							span.shares-percent.shares-span
								|25%
			.heading-wrapper
				h2.heading-h2
					|Акции
			.sele-list
				.row
					.col-lg-3.col-xs-12
						.thumbnail.thumbnail-margin
								.thumbnail-item
									.thumbnail-img-wr
										a(href="#")
											img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
											.labe-small(style="background-image: url(static/images/content/sale-labe.png)")
									.thumbnail-text
										h3.thumbnail-name
												a(href="#").thumbnail-name-link
													|парка
										.thumbnail-control
											.thumbnail-price
												span
													|2300, 00 грн
											.thumbnail-buttons
												a(href="#").thumbnail-buttons-link
													span.icon-like51
												a(href="#").thumbnail-buttons-link
													span.icon-basket
					.col-lg-3.col-xs-12
						.thumbnail.thumbnail-margin
								.thumbnail-item
									.thumbnail-img-wr
										a(href="#")
											img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
									.thumbnail-text
										h3.thumbnail-name
												a(href="#").thumbnail-name-link
													|парка
										.thumbnail-control
											.thumbnail-price
												span
													|2300, 00 грн
											.thumbnail-buttons
												a(href="#").thumbnail-buttons-link
													span.icon-like51
												a(href="#").thumbnail-buttons-link
													span.icon-basket
					.col-lg-3.col-xs-12
						.thumbnail.thumbnail-margin
								.thumbnail-item
									.thumbnail-img-wr
										a(href="#")
											img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
									.thumbnail-text
										h3.thumbnail-name
												a(href="#").thumbnail-name-link
													|парка
										.thumbnail-control
											.thumbnail-price
												span
													|2300, 00 грн
											.thumbnail-buttons
												a(href="#").thumbnail-buttons-link
													span.icon-like51
												a(href="#").thumbnail-buttons-link
													span.icon-basket
					.col-lg-3.col-xs-12
						.thumbnail.thumbnail-margin
								.thumbnail-item
									.thumbnail-img-wr
										a(href="#")
											img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
									.thumbnail-text
										h3.thumbnail-name
												a(href="#").thumbnail-name-link
													|парка
										.thumbnail-control
											.thumbnail-price
												span
													|2300, 00 грн
											.thumbnail-buttons
												a(href="#").thumbnail-buttons-link
													span.icon-like51
												a(href="#").thumbnail-buttons-link
													span.icon-basket
					.col-lg-3.col-xs-12
						.thumbnail.thumbnail-margin
								.thumbnail-item
									.thumbnail-img-wr
										a(href="#")
											img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
											.labe-small(style="background-image: url(static/images/content/sale-labe.png)")
									.thumbnail-text
										h3.thumbnail-name
												a(href="#").thumbnail-name-link
													|парка
										.thumbnail-control
											.thumbnail-price
												span
													|2300, 00 грн
											.thumbnail-buttons
												a(href="#").thumbnail-buttons-link
													span.icon-like51
												a(href="#").thumbnail-buttons-link
													span.icon-basket
					.col-lg-3.col-xs-12
						.thumbnail.thumbnail-margin
								.thumbnail-item
									.thumbnail-img-wr
										a(href="#")
											img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
									.thumbnail-text
										h3.thumbnail-name
												a(href="#").thumbnail-name-link
													|парка
										.thumbnail-control
											.thumbnail-price
												span
													|2300, 00 грн
											.thumbnail-buttons
												a(href="#").thumbnail-buttons-link
													span.icon-like51
												a(href="#").thumbnail-buttons-link
													span.icon-basket
					.col-lg-3.col-xs-12
						.thumbnail.thumbnail-margin
								.thumbnail-item
									.thumbnail-img-wr
										a(href="#")
											img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
									.thumbnail-text
										h3.thumbnail-name
												a(href="#").thumbnail-name-link
													|парка
										.thumbnail-control
											.thumbnail-price
												span
													|2300, 00 грн
											.thumbnail-buttons
												a(href="#").thumbnail-buttons-link
													span.icon-like51
												a(href="#").thumbnail-buttons-link
													span.icon-basket
					.col-lg-3.col-xs-12
						.thumbnail.thumbnail-margin
								.thumbnail-item
									.thumbnail-img-wr
										a(href="#")
											img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
									.thumbnail-text
										h3.thumbnail-name
												a(href="#").thumbnail-name-link
													|парка
										.thumbnail-control
											.thumbnail-price
												span
													|2300, 00 грн
											.thumbnail-buttons
												a(href="#").thumbnail-buttons-link
													span.icon-like51
												a(href="#").thumbnail-buttons-link
													span.icon-basket
			section.info
				p
					|Распродажа и скидки.
				p
					|Вы не можете себе позволить тратить много времени на обычный шопинг, при этом хотите выгодно покупать модную и стильную обувь? Вам нужна только качественная обувь за самую приемлемую цену? Тогда наши распродажи именно для вас! Распродажа женской обуви – это возможность приобрести понравившуюся пару, а возможно и две, со скидкой. При этом весь ассортимент очень просто, без лишних усилий, можно посмотреть у нас на сайте.
					|Распродажа в интернет-магазинах: особенности и преимущества
				p
					|В отличие от рынков, где обычно распродают обувь с дефектами, распродажа женской обуви (Украина) в интернет-магазинах имеет свои преимущества:
				p
					|Обувь со скидкой по качеству и внешнему виду ничем не отличается от продукции без скидок. Обычно распродают сезонную продукцию, которая осталась на складах. Таким образом, вы сможете приобрести понравившуюся пару с большой скидкой, при этом не теряя в качестве!
					|Распродают также такую обувь, где в ростовке (несколько изделий одной модели с разными размерами) осталось лишь один или несколько размеров. Поэтому если вам повезет, вы сможете получить скидки на обувь просто потому, что кто-то не купил ваш размер!
					|Можно выгодно купить обувь прошлых коллекций, цены на которые вам не подошли. Теперь понравившуюся вам пару обуви можно приобрести в нашем интернет-магазине. При этом не переплачивая и не теряя драгоценное время на поиски скидок и акций.
				p
					|Таким образом, распродажа обуви в нашем магазине – это уникальная возможность получить желанную пару обуви по самой демократичной цене. Более того, теперь покупку можно совершить даже не выходя из дома, за чашечкой любимого кофе.
					|Покупать у нас не только выгодно, но и безопасно!
				p
					|Мы ценим наших клиентов и очень рады, что вы решили обратиться именно к нам. Поэтому мы готовы предоставить самый высокий уровень сервиса. Желанную пару обуви вы получите в самые сжатые сроки, а высокое качество продукции не оставит равнодушной ни одну представительницу прекрасного пола. Мы гарантируем защиту всех прав потребителей в соответствии с законами. Даже обувь со скидкой отвечает самым высоким стандартам нашего магазина. Оформить заказ очень просто, а если у вас возникли вопросы – просто свяжитесь с нами. Опытные менеджеры предоставят полную информацию не только о продукции, но и об условиях оплаты и доставки. Сотрудничество с нами принесет вам только приятные эмоции!
		+footer()
		+modals()

	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
|</html>