mixin filter(data)
	h3.filter-heading
		|Верхняя одежда детям
	ul.filter-list
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|Пальто
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|Пуховики
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|Куртки
	h3.filter-heading|Сезон
	ul.filter-list
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|Весна-осень
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|Зима
	h3.filter-heading
		|Размер
	ul.filter-list
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|116-122
		li.filter-item
			li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|128-134
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|128-134
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|128-134
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|XXS-XS
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|XXS-XS
		li.filter-item
			label.filter-label
				input(type="checkbox").filter-checkbox
				span.filter-fake-checkbox
				|XXS-XS
	h3.filter-heading
		|Цена
	div(class="nstSlider" data-range_min="0" data-range_max="10000" data-cur_min="0" data-cur_max="10000")
		.bar
		.leftGrip
		.rightGrip
	.from
		|от
	.leftLabel
	.to
		|до
	.rightLabel
