mixin product-info(data)
	.product-info
		.product-properties
			h3.product-name-heading
				|Пуховик из нейлона
			span.product-article
				|Артикул: 675388
		.product-properties
			span.product-price
				|12 000. 00 грн
			span.product-price--old
				|13 872. 00 грн
		.product-properties
			span.product-color
				|Цвет
			ul.product-color-list
				li.product-color-item
					img(src="static/images/content/color-1.png", alt="")
				li.product-color-item
					img(src="static/images/content/color-2.png", alt="")
				li.product-color-item
					img(src="static/images/content/color-3.png", alt="")
				li.product-color-item
					img(src="static/images/content/color-4.png", alt="")
				li.product-color-item
					img(src="static/images/content/color-4.png", alt="")
		.product-properties
			span.product-size
				|Размер
			ul.product-size-list
				li.product-size-item
					|L
				li.product-size-item.active
					|XXS
				li.product-size-item
					|XS
				li.product-size-item
					|S
				li.product-size-item
					|M
				li.product-size-item
					|L
			.product-control
				a.product-table-size
					|Таблица размеров
				span.product-instock
					|В наличии
				btn.btn.btn-success.btn-lg
					|В корзину
				btn.btn.btn-product-like
					span.icon-like51
				btn.btn.btn-primary.btn-lg
					|Заказать звонок
		.product-properties
			p.product-description
				|Описание товара
			p.product-description
				|Утепленная парка из тканого смесового х/б. На парке капюшон на флисовой подкладке с оторочкой из искусственного меха и на эластичной кулиске |спереди. Молния и двойная защита от ветрах на пуговицах спереди. Карманы на флисовой подкладке, передние карманы с клапаном и боковые карманы. |Талия и низ куртки на кулиске. Один внутренний карман на молнии. На подкладке.
				|Утепленная парка из тканого смесового х/б. На парке капюшон на флисовой подкладке с оторочкой из искусственного меха и на эластичной кулиске |спереди. Молния и двойная защита от ветрах на пуговицах спереди. 
