mixin shares(data)
	.shares
		.shares-text
			.row
				.col-md-6
					.shares-text--inner
						span.shares-percent.shares-span
							|25%
						span.shares-span
							|на летнюю коллецию обуви
				.col-md-6
					.shares-text--inner
						span.shares-span
							|на летнюю коллецию обуви
						span.shares-percent.shares-span
							|25%
		.shares-images
			.shares-images-inner
					img(src="static/images/content/main-shares-1.jpg", alt="")
					.shares-images-text.shares-images-text--right-top
						p
							|Туфли 
							span.shares-images-text--price
								|679 грн
			.shares-images-inner
					img(src="static/images/content/main-shares-2.jpg", alt="")
					.shares-images-text.shares-images-text--right-bottom
						p
							|Пуховики детские 
							span.shares-images-text--price
								|679 грн
			.shares-images-inner
					img(src="static/images/content/main-shares-3.jpg", alt="")
					.shares-images-text.shares-images-text--center-bottom
						p
							|Верхняя одежда
							span.shares-images-text--price
								|679 грн
			.shares-images-inner
					img(src="static/images/content/main-shares-4.jpg", alt="")
					.shares-images-text.shares-images-text--right-top
						p
							|Луноходы 
							span.shares-images-text--price
								|679 грн