.pagination{
	padding: 0;
	margin: 0 0 5.625rem;
	list-style-type: none;
	text-align: right;
	&-item{
		display: inline-block;
		margin-right: 1rem;
	}
	&-active{
		.pagination-link{
			color: $pagination-active-color;
			border-bottom: 2px solid $brand-color;
		}
	}
	&-link{
		text-decoration: none;
	}
}

