mixin checkout(data)
	.checkout
		.row
			.col-lg-4.col-sm-12.col-xs-12
				.personal-form
					h3
						|Персональные данные
					form
						.form-group
							label.form-label.form-label--checkout
								|ФИО
							input(type="text").form-control
						.form-group
							label.form-label.form-label--checkout
								|Email
							input(type="text").form-control
						.form-group
							label.form-label.form-label--checkout
								|Телефон
							input(type="text").form-control
						.form-group
							label.form-label.form-label--checkout
								|Улица дом
							input(type="text").form-control
						.form-group
							label.form-label.form-label--checkout
								|Область
							input(type="text").form-control
						.form-group
							label.form-label.form-label--checkout
								|Город
							input(type="text").form-control
			.col-lg-4.col-sm-6.col-xs-12
				.owl-carousel.owl-delivery
					div
						.checkout-payment.bordered-box
							h3
								|Способ оплаты
							p
								|Наличными
							p
								|Наличными курьеру при получении товара.
								|Наша курьерская служба готова доставить 
								|Вам товар по Харькову с понедельника по пятницу 
								|с 09:00 до 18:00. 
								|Суббота с 09:00 до 16:00. 
								|После оформления заказа с Вами свяжется 
								|наш менеджер и согласует удобное 
								|для Вас время доставки.
					div
						.checkout-payment.bordered-box
							h3
								|Способ оплаты
							p
								|Наличными
							p
								|Наличными курьеру при получении товара.
								|Наша курьерская служба готова доставить 
								|Вам товар по Харькову с понедельника по пятницу 
								|с 09:00 до 18:00. 
								|Суббота с 09:00 до 16:00. 
								|После оформления заказа с Вами свяжется 
								|наш менеджер и согласует удобное 
								|для Вас время доставки.
					div
						.checkout-payment.bordered-box
							h3
								|Способ оплаты
							p
								|Наличными
							p
								|Наличными курьеру при получении товара.
								|Наша курьерская служба готова доставить 
								|Вам товар по Харькову с понедельника по пятницу 
								|с 09:00 до 18:00. 
								|Суббота с 09:00 до 16:00. 
								|После оформления заказа с Вами свяжется 
								|наш менеджер и согласует удобное 
								|для Вас время доставки.
			.col-lg-4.col-sm-6.col-xs-12
				.owl-carousel.owl-delivery
					div
						.checkout-delivery.bordered-box
							h3
								|Доставка
							p
								|Самовывоз
							p
								|Сделав заказ через сайт, Вы можете забрать 
								|и оплатить его в магазине.  В самые краткие сроки 
								|свяжемся с Вами. Ваш заказ будет находиться 
								|в магазине в течение 3-х дней с момента доставки.
					div
						.checkout-delivery.bordered-box
							h3
								|Доставка
							p
								|Самовывоз
							p
								|Сделав заказ через сайт, Вы можете забрать 
								|и оплатить его в магазине.  В самые краткие сроки 
								|свяжемся с Вами. Ваш заказ будет находиться 
								|в магазине в течение 3-х дней с момента доставки.
					div
						.checkout-delivery.bordered-box
							h3
								|Доставка
							p
								|Самовывоз
							p
								|Сделав заказ через сайт, Вы можете забрать 
								|и оплатить его в магазине.  В самые краткие сроки 
								|свяжемся с Вами. Ваш заказ будет находиться 
								|в магазине в течение 3-х дней с момента доставки.
		.checkout-buttons-wr
				btn.btn.btn-success.btn-lg
					|Подтвердить заказ

