mixin footer(data)
	footer.footer
		.container-fluid
			.footer-top
				.row
					.col-md-3.col-xs-12
						a(href="#").footer-logo
							img(src="static/images/content/footer-logo.png", alt="")
					.col-md-3.col-xs-12
						ul.footer-nav
							li.footer-nav-item
								a(href="#").footer-nav-link
									|Главная
							li.footer-nav-item
								a(href="#").footer-nav-link
									|О нас
							li.footer-nav-item
								a(href="#").footer-nav-link
									|Доставка и оплата
					.col-md-3.col-xs-12
						ul.footer-nav
							li.footer-nav-item
								a(href="#").footer-nav-link
									|Контакты
							li.footer-nav-item
								a(href="#").footer-nav-link
									|Оптовикам
					.col-md-3.col-xs-12
						ul.footer-nav
							li.footer-nav-item
								a(href="#").footer-nav-link
									|Женское
							li.footer-nav-item
								a(href="#").footer-nav-link
									|Мужское
							li.footer-nav-item
								a(href="#").footer-nav-link
									|Детское
			.footer-bottom
				p
					|&copy; 2015