.slider{
	margin-bottom: 2.5rem;
	margin-top: 3.75rem;
}
.photo{
	@include clearfix;
	&-big{
		position: relative;
		width: 67%;
		float: left;
		padding-right: 1rem;
		&-text{
			position: absolute;
			top: 50%;
			left: 7.5rem;
			transform: translateY(-50%);
			background-color: rgba(255, 255, 255, 0.3);
			padding: 1rem;
			font-size: 2.25rem;
			font-style: italic;
			color: $white;
			text-align: center;
			@media (max-width: 992px){
				font-size: 1.25rem;
			}
		}
		p{
			margin-bottom: 0;
		}
	}
	&-small{
		position: relative;
		width: 33%;
		float: left;
		background-size: cover;
		background-repeat: no-repeat;
		&-text{
			position: absolute;
			top: 50%;
			left: 7.5rem;
			transform: translateY(-50%);
			background-color: rgba(255, 255, 255, 0.3);
			padding: 1rem;
			font-size: 2.25rem;
			font-style: italic;
			color: $black;
			text-align: center;
			@media (max-width: 992px){
				font-size: 1.25rem;
			}
		}
	}
}

.owl-controls{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}


.owl-thumbnail{
	padding: 0 8rem;
	@media (max-width: 992px){
		padding: 0 4rem;
	}
	@media (max-width: 767px){
		padding: 0;
	}
	.owl-controls {
		top: 15%;
		.owl-prev{
		}
		.owl-next{
			right: 0;
		}
	}
}

.owl-prev{
	position: absolute;
	display: block;
	width: 3.43rem;
	height: 3.43rem;
	border-radius: 50%;
	background-image: url("../images/minified-svg/arrow39.svg");
	background-size: cover;
	background-repeat: no-repeat;
	color: rgba(255, 255, 255, 0.5);
	transform: rotate(180deg);
	&:hover{
		background-image: url("../images/minified-svg/arrow39-hover.svg");
	}
}


.owl-delivery{
	.owl-controls{
		top: 0;
	}
	.owl-prev{
		width: 55px;
		height: 40px;
		background-image: url("../images/minified-svg/arrow-del.svg");
		background-size: auto;
		transform: rotate(0deg);
		border-radius: 0;
		&:hover{
			background-image: url("../images/minified-svg/arrow-del.svg");
		}
	}
	.owl-next{
		width: 55px;
		height: 40px;
		background-image: url("../images/minified-svg/arrow-right-del.svg");
		background-size: auto;
		transform: rotate(0deg);
		border-radius: 0;
		&:hover{
			background-image: url("../images/minified-svg/arrow-right-del.svg");
		}
	}
}

.owl-next{
	@extend .owl-prev;
	right: 0;
	transform: rotate(0deg);
}

//  OWl carousel

/*
 *  Owl Carousel - Animate Plugin
 */
 .owl-carousel{
 	.animated {
 		animation-duration: 1000ms;
 		animation-fill-mode: both;
 	}
 	.owl-animated-in {
 		z-index: 0;
 	}
 	.owl-animated-out {
 		z-index: 1;
 	}
 	.fadeOut {
 		animation-name: fadeOut;
 	}
 }

 @keyframes fadeOut {
 	0% {
 		opacity: 1;
 	}

 	100% {
 		opacity: 0;
 	}
 }

/*
 * 	Owl Carousel - Auto Height Plugin
 */

 .owl-height {
 	transition: height 500ms ease-in-out;
 }

/*
 *  Owl Carousel - Core
 */
 .owl-carousel {
 	display: none;
 	width: 100%;
 	-webkit-tap-highlight-color: transparent;
 	/* position relative and z-index fix webkit rendering fonts issue */
 	position: relative;
 	z-index: 1;

 	.owl-stage {
 		position: relative;
 		-ms-touch-action: pan-Y;
 	}

 	.owl-stage:after {
 		content: ".";
 		display: block;
 		clear: both;
 		visibility: hidden;
 		line-height: 0;
 		height: 0;
 	}

 	.owl-stage-outer {
 		position: relative;
 		overflow: hidden;
 		/* fix for flashing background */
 		-webkit-transform: translate3d(0px, 0px, 0px);
 	}

 	.owl-item {
 		position: relative;
 		min-height: 1px;
 		float: left;
 		-webkit-backface-visibility: hidden;
 		-webkit-tap-highlight-color: transparent;
 		-webkit-touch-callout: none;
 	}
 	.owl-item img {
 		display: block;
 		width: 100%;
 		-webkit-transform-style: preserve-3d;
 	}

 	.owl-nav.disabled,
 	.owl-dots.disabled {
 		display: none;
 	}

 	.owl-nav .owl-prev,
 	.owl-nav .owl-next,
 	.owl-dot {
 		cursor: pointer;
 		cursor: hand;
 		-webkit-user-select: none;
 		-khtml-user-select: none;
 		-moz-user-select: none;
 		-ms-user-select: none;
 		user-select: none;
 	}

 	&.owl-loaded {
 		display: block;
 	}

 	&.owl-loading {
 		opacity: 0;
 		display: block;
 	}

 	&.owl-hidden {
 		opacity: 0;
 	}

 	&.owl-refresh .owl-item {
 		display: none;
 	}

 	&.owl-drag .owl-item {
 		-webkit-user-select: none;
 		-moz-user-select: none;
 		-ms-user-select: none;
 		user-select: none;
 	}

 	&.owl-grab {
 		cursor: move;
 		cursor: grab;
 	}

 	&.owl-rtl {
 		direction: rtl;
 	}

 	&.owl-rtl .owl-item {
 		float: right;
 	}
 }

 /* No Js */
 .no-js .owl-carousel {
 	display: block;
 }


/*
 * 	Owl Carousel - Lazy Load Plugin
 */

 .owl-carousel {
 	.owl-item {
 		.owl-lazy {
 			opacity: 0;
 			transition: opacity 400ms ease;
 		}

 		img {
 			transform-style: preserve-3d;
 		}
 	}
 }



/*
 * 	Owl Carousel - Video Plugin
 */

 .owl-carousel{
 	.owl-video-wrapper {
 		position: relative;
 		height: 100%;
 		background: #000;
 	}
 	.owl-video-play-icon {
 		position: absolute;
 		height: 80px;
 		width: 80px;
 		left: 50%;
 		top: 50%;
 		margin-left: -40px;
 		margin-top: -40px;
 		background: url("owl.video.play.png") no-repeat;
 		cursor: pointer;
 		z-index: 1;
 		-webkit-backface-visibility: hidden;
 		transition: scale 100ms ease;
 	}
 	.owl-video-play-icon:hover {
 		transition: scale(1.3, 1.3);
 	}
 	.owl-video-playing .owl-video-tn,
 	.owl-video-playing .owl-video-play-icon {
 		display: none;
 	}
 	.owl-video-tn {
 		opacity: 0;
 		height: 100%;
 		background-position: center center;
 		background-repeat: no-repeat;
 		background-size: contain;
 		transition: opacity 400ms ease;
 	}
 	.owl-video-frame {
 		position: relative;
 		z-index: 1;
 		height: 100%;
 		width: 100%;
 	}
 }
