mixin slider-main(data)
	.slider
		.owl-carousel
			div
				div.photo
					.photo-big
						img(src="static/images/content/main-slider-1.jpg", alt="")
						.photo-big-text
							h2.slider-heading
								|новая коллекция
							p
								|для детей
								br 
								|осень-зима 2015
					.photo-small(style="background-image: url(static/images/content/main-slider-2.jpg);")
						.photo-small-text
							|sale
			div
				div.photo
					.photo-big
						img(src="static/images/content/main-slider-1.jpg", alt="")
					.photo-small
						img(src="static/images/content/main-slider-2.jpg", alt="")
			div
				div.photo
					.photo-big
						img(src="static/images/content/main-slider-1.jpg", alt="")
					.photo-small
						img(src="static/images/content/main-slider-2.jpg", alt="")