mixin navbar(data)
	nav.nav
		ul.navbar
			li.navbar-item
				a(href="#").navbar-link
					|Женщинам
			li.navbar-item
				a(href="#").navbar-link
					|Мужчинам
			li.navbar-item
				a(href="#").navbar-link
					|Детям
			li.navbar-item
				a(href="#").navbar-link
					|Акции
		.search
			form
				.form-group.form-group--search
					input(type="text").form-control.form-control--search
					button.btn.btn-search
						span.icon-magnifier56