mixin popular(data)
	mixin novelty(data)
	.novelty
		.heading-wrapper
			h2.heading-h2
				|Популярное
			.container-fluid
				.owl-carousel.owl-thumbnail
					div
						.thumbnail
							.thumbnail-item
								.thumbnail-img-wr
									a(href="#")
										img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
								.thumbnail-text
									h3.thumbnail-name
											a(href="#").thumbnail-name-link
												|парка
									.thumbnail-control
										.thumbnail-price
											span
												|2300, 00 грн
										.thumbnail-buttons
											a(href="#").thumbnail-buttons-link
												span.icon-like51
												span.icon-basket
					div
						.thumbnail
							.thumbnail-item
								.thumbnail-img-wr
									a(href="#")
										img(src="static/images/content/product-main-3.jpg", alt="").thumbnail-img
								.thumbnail-text
									h3.thumbnail-name
											a(href="#").thumbnail-name-link
												|парка
									.thumbnail-control
										.thumbnail-price
											span
												|2300, 00 грн
										.thumbnail-buttons
											a(href="#").thumbnail-buttons-link
												span.icon-like51
												span.icon-basket
					div
						.thumbnail
							.thumbnail-item
								.thumbnail-img-wr
									a(href="#")
										img(src="static/images/content/product-main-4.jpg", alt="").thumbnail-img
								.thumbnail-text
									h3.thumbnail-name
											a(href="#").thumbnail-name-link
												|парка
									.thumbnail-control
										.thumbnail-price
											span
												|2300, 00 грн
										.thumbnail-buttons
											a(href="#").thumbnail-buttons-link
												span.icon-like51
												span.icon-basket
					div
						.thumbnail
							.thumbnail-item
								.thumbnail-img-wr
									a(href="#")
										img(src="static/images/content/product-main-5.jpg", alt="").thumbnail-img
								.thumbnail-text
									h3.thumbnail-name
											a(href="#").thumbnail-name-link
												|парка
									.thumbnail-control
										.thumbnail-price
											span
												|2300, 00 грн
										.thumbnail-buttons
											a(href="#").thumbnail-buttons-link
												span.icon-like51
												span.icon-basket
					div
						.thumbnail
							.thumbnail-item
								.thumbnail-img-wr
									a(href="#")
										img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
								.thumbnail-text
									h3.thumbnail-name
											a(href="#").thumbnail-name-link
												|парка
									.thumbnail-control
										.thumbnail-price
											span
												|2300, 00 грн
										.thumbnail-buttons
											a(href="#").thumbnail-buttons-link
												span.icon-like51
												span.icon-basket
					div
						.thumbnail
							.thumbnail-item
								.thumbnail-img-wr
									a(href="#")
										img(src="static/images/content/product-main-3.jpg", alt="").thumbnail-img
								.thumbnail-text
									h3.thumbnail-name
											a(href="#").thumbnail-name-link
												|парка
									.thumbnail-control
										.thumbnail-price
											span
												|2300, 00 грн
										.thumbnail-buttons
											a(href="#").thumbnail-buttons-link
												span.icon-like51
												span.icon-basket
					div
						.thumbnail
							.thumbnail-item
								.thumbnail-img-wr
									a(href="#")
										img(src="static/images/content/product-main-4.jpg", alt="").thumbnail-img
								.thumbnail-text
									h3.thumbnail-name
											a(href="#").thumbnail-name-link
												|парка
									.thumbnail-control
										.thumbnail-price
											span
												|2300, 00 грн
										.thumbnail-buttons
											a(href="#").thumbnail-buttons-link
												span.icon-like51
												span.icon-basket
					div
						.thumbnail
							.thumbnail-item
								.thumbnail-img-wr
									a(href="#")
										img(src="static/images/content/product-main-5.jpg", alt="").thumbnail-img
								.thumbnail-text
									h3.thumbnail-name
											a(href="#").thumbnail-name-link
												|парка
									.thumbnail-control
										.thumbnail-price
											span
												|2300, 00 грн
										.thumbnail-buttons
											a(href="#").thumbnail-buttons-link
												span.icon-like51
												span.icon-basket