mixin catalog(data)
	.row
		.col-md-6.col-sm-6.col-lg-3.col-xs-12
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span.thumbnail-price-number
									|2300, 00 грн
								span.thumbnail-size
									|Размер:
								span.thumbnail-size-value
									|M
								span.thumbnail-size-value
									|l
								span.thumbnail-size-value
									|XL
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12.col-lg-offset-1
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12.col-lg-offset-1
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12.col-lg-offset-1
			.thumbnail.thumbnail-catalog.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12.col-lg-offset-1
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12.col-lg-offset-1
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12.col-lg-offset-1
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12.col-lg-offset-1
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
		.col-md-6.col-sm-6.col-lg-3.col-xs-12.col-lg-offset-1
			.thumbnail.thumbnail-catalog
				.thumbnail-item
					.thumbnail-img-wr
						a(href="#")
							img(src="static/images/content/product-main-2.jpg", alt="").thumbnail-img
					.thumbnail-text
						h3.thumbnail-name
							a(href="#").thumbnail-name-link
								|парка
						.thumbnail-control
							.thumbnail-price
								span
									|2300, 00 грн
							.thumbnail-buttons
								a(href="#").thumbnail-buttons-link
									span.icon-like51
									span.icon-basket
	ul.pagination
		li.pagination-item.pagination-active
			a(href="#").pagination-link
				|1
		li.pagination-item
			a(href="#").pagination-link
				|2
		li.pagination-item
			span.pagination-span
				|...
		li.pagination-item
			a(href="#").pagination-link
				|6
	.row
		.col-md-12
			section.text
				h3
					|Качественная детская верхняя одежда
				p
					|Идти в ногу со временем, одеваться стильно и красиво - сегодня это правило касается не только взрослых, но и детей. Наш интернет магазин 
					|предлагает маленьким модникам и их родителям купить качественную верхнюю одежду от ведущих торговых марок, представленных на мировом рынке. 
					|Верхняя одежда для детей таких известных брендов как Coccodrillo, Lappi kids, Sanetta, Noble People - безупречный выбор для тех, кто ценит 
					|практичность и безопасность. На страницах нашего магазина представлены модели для девочек и мальчиков из последних коллекций. Таким образом, 
					|ребенок всегда будет одет в трендовые вещи, актуальные в данном сезоне. В разделах представлен широкий выбор разнообразных моделей (фото из 
					|каталога полностью соответствует реальным моделям) для детей начиная с первого месяца жизни. Цена на представленные позиции товара, приятно 
					|удивит всех покупателей, а гибкая система скидок станет приятным сюрпризом. Качественная детская верхняя одежда – это уверенность взрослых в 
					|том, что их ребенок будет надежно защищен от всех погодных воздействий в любое время года.

				p
					|Главный, первостепенный, фундаментальный и стратегический приоритет компании "Angeli.R" в производстве детской одежды  - счастливые, раскрепощенные и уверенные в себе дети, соответственно довольные родители! Основной вектор направления нашего предприятия - качественная детская одежда оптом для детей и подростков от производителя в Украине.

				p
					|выгодно купить подростковую одежду - это абсолютно понятное желание любого бизнесмена, будь то среднестатистический предприниматель, какой-либо сегмент крупного бизнеса. Что же подходит нашей роли, то наше предприятие безупречно выдерживает все рамки и критерии в соотношении стоимость, свойства, качество, в свою очередь, непременно, подходит красивому, стильному, удобному фасону на все-возможно любые случаи жизни. Наше предприятие открыто к совместной, плодотворной работы для всех представителей бизнеса, коммерческих структур.

				p
					|всего в нашем интернет магазине покупают детскую одежду оптом в городах как Харьков, Киев, Одесса, Хмельницкий и в многих других городах Украины.
				p
					|с нами, мы посодействуем Вам развить бизнес и готовы к обоюдной, плодотворной совместной работе на постоянной основе.
			section.text
				h4
					|Качественная детская одежда от производителя
				p
					|Самая главная направленность в производстве выпускаемой нашей компанией продукции - детская верхняя одежда оптом от Украинского производителя. Первостепенные критерии нашего предприятия в производстве подростковой одежды для девочек и мальчиков - качество, мода, стиль, комфорт, удобство. В электронном каталоге на сайте нашего предприятия Вы всегда можете ознакомиться с новинками, новыми моделями, последней коллекцией весна - осень 2015 года. В ассортименте всего модельного ряда выпускаемой продукции нашей компанией Вы найдете безупречно качественную, стильную, элегантную и удобную детскую одежду от производителя из Украины, которая не оставит равнодушным любителя модной, стильной и удобной детской и подростковой одежды оптом.
