mixin product-img(data)
	.product-img--big
		a(class="fancybox" rel="group" href="static/images/content/product-page-img-big.jpg")
			img(src="static/images/content/product-page-img-big.jpg", alt="")
		.product-labe.product-labe--sale(style="background-image: url(static/images/content/sale-labe.png)")
	.product-img--small
		.row
			.col-lg-3
				a(class="fancybox" rel="group" href="static/images/content/product-page-img-small.jpg")
					img(src="static/images/content/product-page-img-small.jpg", alt="")
			.col-lg-3
				a(class="fancybox" rel="group" href="static/images/content/product-page-img-small-1.jpg")
					img(src="static/images/content/product-page-img-small-1.jpg", alt="")
			.col-lg-3
				a(class="fancybox" rel="group" href="static/images/content/product-page-img-small-3.jpg")
					img(src="static/images/content/product-page-img-small-3.jpg", alt="")
			.col-lg-3
				a(class="fancybox" rel="group" href="static/images/content/product-page-img-small-4.jpg")
					img(src="static/images/content/product-page-img-small-4.jpg", alt="")