mixin breadcrumbs(data)
	ul.breadcrumbs
		li.breadcrumbs-item
			a(href="#").breadcrumbs-link
				|Главная
		li.breadcrumbs-item
			a(href="#").breadcrumbs-link
				|Детям
		li.breadcrumbs-item
			span.breadcrumbs-active
				|Верхняя одежда