mixin cart(data)
	svg(style="display:none;")
		symbol(id="icon-cross92" viewBox="0 0 1024 1024")
			path(class="path1" d="M602.952 512l412.177-412.155c8.872-8.882 8.872-23.275 0-32.157l-58.784-58.817c-4.264-4.254-10.064-6.659-16.089-6.659-6.036 0-11.826 2.406-16.089 6.659l-412.166 412.166-412.166-412.166c-8.539-8.539-23.651-8.528-32.168 0l-58.773 58.817c-8.882 8.882-8.882 23.275 0 32.157l412.166 412.155-412.166 412.155c-8.882 8.882-8.882 23.275 0 32.157l58.784 58.817c4.264 4.254 10.053 6.659 16.089 6.659s11.815-2.406 16.079-6.659l412.166-412.166 412.166 412.166c4.264 4.254 10.064 6.659 16.089 6.659s11.826-2.406 16.089-6.659l58.784-58.817c8.872-8.882 8.872-23.275 0-32.157l-412.187-412.155z")
	.cart
		.heading-wrapper
			h2.heading-h2
				span.icon-basket
		.cart-list
			.cart-item
				.cart-number
					|1
				.cart-img-wr
					img(src="static/images/content/cartimg.jpg", alt="").cart-img
				.cart-name-wr
					span.cart-name
						|Дубленка детская грязно розового цвета
				.cart-size-wr
					span.cart-size
						|M
				.cart-price-wr
					span.cart-price
						|1600, 00 грн
				.cart-table-wr
					a(href="#").cart-table
						|Таблица размеров
					span.cart-instock
						|В наличии
				.cart-close
					svg(class="icon icon-cross92")
						use(xlink:href="#icon-cross92")
			.cart-item
					.cart-number
						|1
					.cart-img-wr
						img(src="static/images/content/cartimg.jpg", alt="").cart-img
					.cart-name-wr
						span.cart-name
							|Дубленка детская грязно розового цвета
					.cart-size-wr
						span.cart-size
							|M
					.cart-price-wr
						span.cart-price
							|1600, 00 грн
					.cart-table-wr
						a(href="#").cart-table
							|Таблица размеров
						span.cart-instock
							|В наличии
					.cart-close
						svg(class="icon icon-cross92")
							use(xlink:href="#icon-cross92")
			.cart-item
					.cart-number
						|1
					.cart-img-wr
						img(src="static/images/content/cartimg.jpg", alt="").cart-img
					.cart-name-wr
						span.cart-name
							|Дубленка детская грязно розового цвета
					.cart-size-wr
						span.cart-size
							|M
					.cart-price-wr
						span.cart-price
							|1600, 00 грн
					.cart-table-wr
						a(href="#").cart-table
							|Таблица размеров
						span.cart-instock
							|В наличии
					.cart-close
						svg(class="icon icon-cross92")
							use(xlink:href="#icon-cross92")
		.cart-total
			|Всего:
			span.cart-total-span
				|3 200.00 грн
		.cart-buttons-wr
			btn.btn.btn-success.btn-lg
				|Оформить заказ