mixin header(data)
	header.header
		.header-top
			.header-top--right
				a(href="#").header--size-table
					|Таблица размеров
				a(href="#").header-link
					span.icon-like51
				a(href="#").header-link
					span.icon-basket
			.header-top--left
				span
					|+38063332-32-32
				span
					|+38050876-67-76
				button.btn.btn-primary
					|Заказать звонок
		.header-bottom
			ul.header-nav
				li.header-nav-list
					a(href="#").header-nav-link
						|Главная
				li.header-nav-list
					a(href="#").header-nav-link
						|Оптовикам
				li.header-nav-list
					a(href="#").header-nav-link
						|О нас
			a.header-logo
				img(src="static/images/content/logo.png", alt="logo")
			ul.header-nav
				li.header-nav-list
					a(href="#").header-nav-link
						|Контакты
				li.header-nav-list
					a(href="#").header-nav-link
						|Доставка и оплата
