mixin delivery(data)
	svg(style="display: none;")
		symbol(id="icon-curer" viewBox="0 0 845 1024")
			path(class="path1" d="M91.47-3.552c-21.304 21.304-7.101 32.666 39.767 32.666h49.709v647.636l-49.709 18.463c-113.62 39.767-140.605 154.808-58.23 237.182 78.114 78.114 177.532 61.071 228.661-38.347l22.724-41.187h144.866c146.286 0 146.286 0 177.532 42.608 32.666 44.028 73.853 56.81 73.853 24.144 0-9.942-21.304-38.347-46.868-63.911-46.868-45.448-46.868-45.448-208.777-48.289-147.706-2.841-140.605-4.261 78.114-11.362l241.443-7.101 4.261-177.532c1.42-97.998 9.942-190.314 18.463-207.357 8.522-15.623 12.782-53.97 9.942-85.215l-4.261-55.39h-553.899l5.681 225.82c4.261 187.474 1.42 224.4-14.203 218.719s-21.304-73.853-24.144-363.585l-2.841-357.904h-62.491c-32.666 0-65.332 4.261-69.592 9.942zM777.453 355.772v42.608h-482.886v-85.215h482.886v42.608zM749.048 590.114v149.127h-426.076v-298.253h426.076v149.127zM240.597 763.385c39.767 35.506 34.086 109.36-12.782 146.286-90.896 71.013-203.096-41.187-132.084-132.084 35.506-45.448 103.679-52.549 144.866-14.203z")
			path(class="path2" d="M453.635 514.841c4.261 11.362 36.927 19.884 79.534 22.724 59.651 2.841 73.853 0 73.853-17.043 0-18.463-17.043-22.724-79.534-22.724-56.81 0-78.114 5.681-73.853 17.043z")
		symbol(id="icon-delivery" viewBox="0 0 1627 1024")
			path(class="path1" d="M640.253 391.876c-79.069 214.399-141.413 395.346-136.851 402.949s126.206 13.685 272.181 13.685c217.441 0 264.578-4.561 272.181-22.808 6.082-18.247-28.891-22.808-241.77-25.85l-247.852-4.561 130.769-349.73 132.289-349.73h304.113l91.233 159.66c123.166 215.92 126.206 218.962 244.811 301.071l104.919 71.467v76.028c0 63.864-4.561 79.069-34.973 91.233-38.014 16.726-36.494 42.576 3.041 50.178 54.741 10.644 85.151-41.055 85.151-142.934v-95.796l-107.961-71.467c-123.166-83.631-149.015-114.042-249.372-301.071-106.44-197.673-97.316-191.591-302.592-191.591h-171.824l-147.495 389.264z")
			path(class="path2" d="M863.775 112.091c-24.329 30.412-95.796 258.496-86.672 272.181 4.561 7.603 103.398 13.685 220.482 13.685 173.344 0 214.399-4.561 220.482-22.808 4.561-12.165-22.808-80.59-62.343-152.056l-69.946-129.248h-103.398c-65.384 0-109.48 7.603-118.604 18.247zM1107.066 238.299c22.808 47.138 41.055 88.193 41.055 91.233 0 4.561-68.425 7.603-152.056 7.603s-152.056-4.561-152.056-10.644c0-4.561 12.165-45.617 25.85-91.233l25.85-80.59h170.303l41.055 83.631z")
			path(class="path3" d="M-7.508 147.064c0 19.768 47.138 22.808 333.004 22.808 281.305 0 334.524-3.041 342.126-22.808s-36.494-22.808-333.004-22.808c-293.469 0-342.126 3.041-342.126 22.808z")
			path(class="path4" d="M48.753 331.053c-27.37 28.891 28.891 36.494 263.058 36.494 212.879 0 256.975-3.041 264.578-22.808s-27.37-22.808-255.454-22.808c-144.453 0-267.619 4.561-272.181 9.123z")
			path(class="path5" d="M743.651 481.588c-10.644 27.37 4.561 53.22 31.932 53.22 31.932 0 42.576-28.891 22.808-53.22-24.329-28.891-44.096-28.891-54.741 0z")
			path(class="path6" d="M98.931 542.412c0 33.452 372.538 33.452 386.223 0 7.603-19.768-19.768-22.808-188.55-22.808-165.742 0-197.673 3.041-197.673 22.808z")
			path(class="path7" d="M1211.985 651.892c-92.754 45.617-118.604 145.974-59.302 234.167 65.384 95.796 199.194 95.796 264.578 0 60.823-89.714 33.452-190.070-62.343-235.688-63.864-30.412-79.069-30.412-142.934 1.521zM1353.397 724.879c47.138 45.617 48.658 94.275 4.561 139.892-62.343 66.905-179.426 22.808-179.426-66.905 0-45.617 63.864-111.001 106.44-111.001 18.247 0 48.658 16.726 68.425 38.014z")
		symbol(id="icon-shopping" viewBox="0 0 958 1024")
			path(class="path1" d="M43.329-8.343c-6.068 10.619-13.654 233.624-16.688 496.072-6.068 391.395-3.034 477.867 13.654 488.486 34.892 21.238 869.263 16.688 890.501-4.552 22.756-22.756 25.79-810.098 3.034-823.751-7.585-4.552-15.171-47.028-15.171-92.539v-81.92h-430.839c-329.197 0-435.39 4.552-444.492 18.204zM783.643 59.923l-36.409 24.273 43.994 36.409 43.994 34.892h-348.918c-309.476-1.517-345.884-3.034-320.095-22.756 16.688-12.136 34.892-22.756 42.477-22.756 21.238 0 12.136-33.375-13.654-54.613-22.756-16.688 24.273-19.721 298.856-21.238 307.959 0 323.129 1.517 289.754 25.79zM140.419 97.848c-30.34 19.721-40.959 13.654-40.959-18.204 0-27.307 4.552-28.824 30.34-12.136 21.238 13.654 24.273 21.238 10.619 30.34zM868.597 103.917c-3.034 3.034-18.204 1.517-33.375-3.034-25.79-10.619-25.79-12.136 1.517-31.857 25.79-18.204 28.824-18.204 33.375 3.034 3.034 13.654 3.034 28.824-1.517 31.857zM903.489 565.096v364.089h-834.371v-728.178h834.371v364.089z")
			path(class="path2" d="M272.402 313.268c-13.654 33.375 45.511 151.704 94.056 189.63s139.567 42.477 201.766 9.102c42.477-21.238 107.71-133.5 107.71-182.044 0-31.857-40.959-45.511-68.267-22.756-13.654 12.136-18.204 33.375-12.136 60.682 6.068 33.375-1.517 53.096-30.34 81.92-83.437 83.437-213.903 25.79-215.42-94.056 0-47.028-6.068-57.647-34.892-60.682-19.721-3.034-37.926 4.552-42.477 18.204z")
		symbol(id="icon-payment" viewBox="0 0 896 1024")
			path(class="path1" d="M253.367-6.536c-36.312 26.145-26.145 100.221 17.43 119.104s40.67 62.457-4.357 74.077c-45.027 11.62-65.362 46.479-65.362 113.294 0 42.122-5.81 52.289-27.597 52.289-40.67 0-74.077 39.217-74.077 88.601 0 31.955-8.715 46.479-36.312 56.647-45.027 17.43-56.647 62.457-47.932 196.085 13.072 190.275 97.316 281.782 273.067 294.854 146.701 10.167 214.967-69.719 216.42-255.637l1.452-90.054h127.818c79.887 0 133.628-5.81 145.248-17.43s17.43-90.054 17.43-259.994v-242.565l36.312-8.715c47.932-11.62 63.909-72.624 29.050-110.389-24.692-27.597-46.479-29.050-305.021-29.050-204.8 0-284.687 4.357-303.569 18.882zM302.752 47.206c0 15.977-5.81 29.050-13.072 29.050-20.335 0-33.407-26.145-23.24-43.574 14.525-24.692 36.312-15.977 36.312 14.525zM479.955 64.635c2.905 40.67 11.62 49.384 45.027 52.289 36.312 4.357 39.217 1.452 39.217-46.479 0-42.122 5.81-52.289 29.050-52.289 27.597 0 29.050 10.167 29.050 290.496v290.496h-116.199v-108.936c0-97.316-4.357-114.746-36.312-145.248-21.787-23.24-52.289-36.312-79.887-36.312h-43.574v-290.496h63.909c62.457 0 65.362 1.452 69.719 46.479zM753.021 308.652v290.496h-87.149v-580.993h87.149v290.496zM840.17 47.206c0 15.977-10.167 29.050-21.787 29.050s-21.787-13.072-21.787-29.050c0-15.977 10.167-29.050 21.787-29.050s21.787 13.072 21.787 29.050zM305.657 442.281c2.905 159.773 8.715 220.777 23.24 226.587 13.072 4.357 17.43-27.597 17.43-127.818 0-142.343 14.525-188.823 58.099-188.823 15.977 0 34.86 13.072 43.574 27.597 18.882 37.765 18.882 419.767-1.452 477.867-23.24 68.267-75.529 94.411-168.488 87.149-145.248-13.072-209.157-94.411-219.325-280.329-5.81-100.221-2.905-120.556 17.43-127.818 18.882-7.262 23.24 1.452 23.24 47.932 0 40.67 5.81 58.099 21.787 58.099s21.787-26.145 24.692-119.104c4.357-101.674 8.715-120.556 30.502-124.913s24.692 7.262 24.692 82.791c0 69.719 4.357 88.601 21.787 88.601s21.787-27.597 21.787-156.868c0-148.153 10.167-191.728 46.479-191.728 5.81 0 13.072 98.769 14.525 220.777z")
			path(class="path2" d="M529.339 246.196c-4.357 4.357-8.715 74.077-8.715 152.511 0 116.199 4.357 142.343 21.787 142.343s21.787-26.145 21.787-143.796c0-132.176-10.167-175.75-34.86-151.058z")
		symbol(id="icon-nal" viewBox="0 0 1115 1024")
			path(class="path1" d="M35.393 13.37c-32.075 33.534-32.075 42.282-32.075 470.928v438.853l33.534 30.617c33.534 32.075 42.282 32.075 494.256 32.075 551.118 0 521.958 8.748 533.621-164.752 4.374-68.526 14.58-118.096 26.244-128.303 27.702-23.327 27.702-221.614 0-244.941-13.122-11.664-21.87-56.861-26.244-126.845-4.374-94.769-10.205-115.181-39.365-138.508-18.954-14.58-52.487-27.702-75.816-27.702-39.365 0-42.282-4.374-42.282-55.404 0-39.365-10.205-65.609-33.534-87.479-33.534-30.617-43.739-32.075-419.899-32.075-386.366 0-387.823 0-418.441 33.534zM851.863 73.147c36.449 81.647 33.534 83.106-392.197 78.731l-390.739-4.374-4.374-33.534c-11.664-77.273-17.495-75.816 390.739-75.816h379.076l17.495 34.992zM981.623 213.113c23.327 13.122 27.702 32.075 27.702 116.638v102.059h-121.013c-74.357 0-128.303 7.29-138.508 17.495-23.327 23.327-23.327 218.697 0 242.025 10.205 10.205 64.151 17.495 138.508 17.495h121.013v102.059c0 96.226-1.458 103.516-37.907 116.638-48.114 18.954-823.76 18.954-871.873 0l-37.907-14.58v-714.411h446.143c278.475 0 456.348 5.832 473.844 14.58zM1053.065 563.029v87.479h-262.436v-174.958h262.436v87.479z")
			path(class="path2" d="M841.658 539.702c-29.16 21.87-21.87 62.694 14.58 75.816 26.244 10.205 65.609-17.495 65.609-46.655 0-32.075-51.029-51.029-80.189-29.16z")
		symbol(id="icon-money" viewBox="0 0 739 1024")
			path(class="path1" d="M299.19-11.704c-5.852 4.389-10.24 62.903-10.24 127.269 0 115.566-1.463 118.491-43.886 143.36-38.034 21.943-43.886 33.646-43.886 84.846 0 48.275-4.389 58.514-27.794 58.514-40.96 0-74.605 39.497-74.605 84.846 0 27.794-10.24 43.886-32.182 54.125-30.72 13.166-33.646 23.405-33.646 138.971 0 156.526 30.72 223.817 125.805 275.017 87.771 46.811 201.874 39.497 258.926-16.091 32.182-33.646 39.497-54.125 43.886-141.898l5.852-100.937 238.446-8.777 4.389-355.474 2.925-354.012h-201.874c-111.177 0-207.726 4.389-212.114 10.24zM634.184 54.126c33.646 32.182 35.109 39.497 35.109 280.869 0 235.521-1.463 250.149-32.182 282.332-24.868 26.332-46.811 33.646-102.4 33.646h-70.218v-115.566c0-102.4 4.389-121.417 35.109-153.6 40.96-45.348 73.143-49.737 62.903-8.777-11.703 43.886 17.554 51.2 33.646 8.777 7.314-20.48 20.48-38.034 29.257-38.034s-2.925-20.48-24.868-43.886c-46.811-54.125-70.218-55.589-100.937-7.314-29.257 43.886-49.737 46.811-49.737 7.314 0-16.091-5.852-29.257-13.166-29.257s-19.018 13.166-23.405 29.257c-4.389 16.091-17.554 29.257-26.332 29.257-11.703 0-11.703 4.389 1.463 13.166 14.629 8.777 10.24 14.629-17.554 19.018l-38.034 7.314v-137.509c0-124.343 2.925-143.36 33.646-174.080 27.794-29.257 46.811-35.109 133.12-35.109 83.383 0 105.326 5.852 134.583 32.182zM291.876 482.743c4.389 232.594 30.72 273.555 40.96 65.828 7.314-136.046 7.314-138.971 43.886-138.971h36.571l4.389 232.594c2.925 222.355 2.925 234.057-27.794 267.703-26.332 26.332-48.275 33.646-106.789 33.646-146.286 0-213.578-81.92-213.578-260.389 0-57.052 7.314-108.252 14.629-112.641 8.777-5.852 14.629 11.703 14.629 42.423 0 36.571 5.852 52.663 21.943 52.663 17.554 0 21.943-21.943 21.943-108.252 0-78.994 5.852-109.714 20.48-115.566 32.182-11.703 38.034 2.925 38.034 87.771 0 42.423 7.314 77.532 14.629 77.532 8.777 0 14.629-57.052 14.629-143.36 0-134.583 11.703-178.469 46.811-178.469 5.852 0 13.166 89.234 14.629 197.485zM566.893 314.515c0 7.314-5.852 14.629-14.629 14.629-7.314 0-14.629-7.314-14.629-14.629 0-8.777 7.314-14.629 14.629-14.629 8.777 0 14.629 5.852 14.629 14.629zM479.122 349.623c0 16.091-27.794 21.943-36.571 8.777-4.389-7.314 1.463-14.629 13.166-14.629 13.166 0 23.405 2.925 23.405 5.852z")
	.delivery
		.row
			.col-lg-12
				.heading-wrapper
					h2.heading-h2
						|Доставка
		.delivery-list
			.row
				.col-lg-4
					.delivery-item.bordered-box
						h3.delivery-h3
							svg(class="icon icon-curer")
								use(xlink:href="#icon-curer")
						p
							|Курьер
						p
							|Собственная курьерская служба в Харькове.
							|При вокупке 2 000 тыс. гривен и выше,
							|доставка курьером по городу бесплатна. 
							|Доставка курьером по городу составляет 25 грн.
				.col-lg-4
					.delivery-item.bordered-box
						h3.delivery-h3
							svg(class="icon icon-delivery")
								use(xlink:href="#icon-delivery")
						p
							|Нова пошта
						p
							|Доставка на склад Новой Почты 
							|оплачивается покупателем, за исключением 
							|случая, когда покупатель вносит 100% 
							|предоплату на карту Приватбанка.
						p
							|Курьерская доставка Новой Почты всегда 
							|оплачивается покупателем.
				.col-lg-4
					.delivery-item.bordered-box
						h3.delivery-h3
							svg(class="icon icon-shopping")
								use(xlink:href="#icon-shopping")
						p
							|Самовывоз
						p
							|Собственная курьерская служба в Харькове.
							|При вокупке 2 000 тыс. гривен и выше,
							|доставка курьером по городу бесплатна. 
							|Доставка курьером по городу составляет 25 грн.
		.row
			.col-lg-12
				.heading-wrapper
					h2.heading-h2
						|Оплата
		.row
			.col-lg-4
				.delivery-item.bordered-box
					h3.delivery-h3
						svg(class="icon icon-payment")
							use(xlink:href="#icon-payment")
					p
						|Оплата банковской картой
					p
						|Собственная курьерская служба в Харькове.
						|При вокупке 2 000 тыс. гривен и выше,
						|доставка курьером по городу бесплатна. 
						|Доставка курьером по городу составляет 25 грн.
			.col-lg-4
				.delivery-item.bordered-box
					h3.delivery-h3
						svg(class="icon icon-nal")
							use(xlink:href="#icon-nal")
					p
						|Наличными
					p
						|Доставка на склад Новой Почты 
						|оплачивается покупателем, за исключением 
						|случая, когда покупатель вносит 100% 
						|предоплату на карту Приватбанка.
					p
						|Курьерская доставка Новой Почты всегда 
						|оплачивается покупателем.
			.col-lg-4
				.delivery-item.bordered-box
					h3.delivery-h3
						svg(class="icon icon-money")
							use(xlink:href="#icon-money")
					p
						|Нова пошта
					p
						|Собственная курьерская служба в Харькове.
						|При вокупке 2 000 тыс. гривен и выше,
						|доставка курьером по городу бесплатна. 
						|Доставка курьером по городу составляет 25 грн.
